@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&family=Roboto&display=swap');

*{
  outline: none;
  border: none;
  transition: all .2s linear;
}

html{
  scroll-behavior: smooth;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

img{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

.container{
    padding: 0 60px;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 25px 0;
    z-index: 10;
}
.rov-v{
    display: flex;
    align-items: center;
}
.naw{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.nawbar{
    display: flex;
    gap: 40px;
}
.nawbar .navv-a{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    font-size: 15.75px;
    line-height: 18px;
    color: #FFFFFF;
}
.iphon{
    display: flex;
    align-items: center;
    margin-left: 80px;
}
.icon i{
    border-radius: 50%;
    border: 1px solid #037B35;
    font-size: 16px;
    color: #037B35;
    padding: 10px;
}
.logo{
    width: 87px;
    height: 78px;
}
.telefonN{
    margin-left: 10px;
}
.telN{
    font-family: 'Zona Pro';
    font-style: normal;
    font-weight: 100;
    font-size: 13.5px;
    line-height: 15px;
    color: #037B35;
    display: block;
}

.bars{
    cursor: pointer;
    display: none;
}
.bars span{
    width: 25px;
    height: 3px;
    background: #48bb00;
    display: block;
    margin-bottom: 5px;
}

.home{
    background-image: url(./img/julian-hochgesang-YOxpJLoqX4Y-unsplash\ 1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.home-text{
    padding: 200px 0 0;
}
.home-h2{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 67.3724px;
    color: #FFFFFF;
}
.home-p{
    padding-right: 55%;
    padding-bottom: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
}
.home-btn{
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    background: #FCBD17;
    border-radius: 26.5px;
    padding: 12px 33px;
}
.home-img{
    position: absolute;
    top: 0;
    right: -2px;
    width: 610px;
    height: 450px;
    border: 1px solid #037B35;
    border-top-left-radius: 45%;
    border-bottom-left-radius: 45%;
    transform: translateY(30%);
    z-index: -1;
}
.imgBOX{
    position: absolute;
    width: 280px;
    height: 280px;
    top: 18%;
    left: 30%;
    border: 1px solid #037B35;
    transform: rotate(45deg);
}
.imgBOX1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #FED372;
    transform: translate(40px, 40px);
}
.imgBOX1 img{
    position: absolute;
    transform: rotate(-45deg);
}

.bg{
    background-image: url(./img/image\ 33.png);
    height: 160px;
}

/* PRODUCTS */
.products .title{
    padding: 0 0 40px;
}
.products .title h2{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 54px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    padding-bottom: 15px;
}
.products .title p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    padding-right: 48%;
    margin: 0;
}
.products{
    padding: 100px 0 0;
    position: relative;
}
.products .after{
    position: absolute;
    content: '';
    top: 0;
    left: 0px;
    height: 100%;
    width: 7%;
    z-index: -1;
}
.products-card{
    background: #FFFFFF;
    border: 0.8325px solid #D9DCEC;
    border-radius: 8.325px;
    display: flex;
    align-items: center;
    padding: 17px 48px 15px 17px;
    margin-bottom: 12px;
}
.products-card:hover{
    border: 1px solid #037B35;
}
.products-img{
    width: 206px;
    height: 166px;
    padding-right: 24px;
}
.products-text h4{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: #000000;
}
.products-text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11.655px;
    line-height: 20px;
    color: #000000;
}

.company{
    padding: 100px 0 150px;
    position: relative;
}
.company .before{
    position: absolute;
    content: '';
    top: -140px;
    right: 0;
    height: 450px;
    width: 300px;
    z-index: 1;
}
.company .container1{
    width: 1060px;
    height: auto;
    margin: 0 auto;
}
.company-text{
    padding: 0;
}
.company-text h2{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 54px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
}
.company-text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    margin: 0;
    padding: 35px 0 45px;
}
.company-text .company-btn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #037B35;
    border: 1px solid #037B35;
    padding: 11px 35px;
    text-decoration: none;
    border-radius: 26.5px;
    display: inline-block;
}
.company-btns{
    font-family: 'Poppins';
    font-style: normal; 
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #037B35;
    text-decoration: none;
    margin-left: 19px;
    display: inline-block;
}
.company-img{
    position: relative;
    padding: 0;
}
.company-img .img-box2,
.company-img .img-box3{
    position: absolute;
}
.company-img .img-box1{
    width: 367px;
    height: 367px;
    margin-left: auto;
}
.company-img .img-box2{
    width: 367px;
    height: 367px;
    top: 0;
    left: 0;
}
.company-img .img-box3{
    width: 293px;
    height: 293px;
    top: 160px;
    left: 40px;
}


.bg1{
    background-image: url(./img/image\ 40.png);
    height: 170px;
    display: flex;
    align-items: center;
    position: relative;
}
.bg1 .container-1{
    width: 1000px;
    margin: 0 auto;
    height: auto;
}
.bg1 .img-box{
    height: 35px;
    width: 155px;
    
}
.owl-dots{
    display: none;
}

.accorDion-text .title{
    padding-bottom: 28px;
}
.accorDion-text .title h2{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #037B35;
    margin: 0;
    padding-bottom: 8px;
}
.accorDion{
    padding-top: 100px;
    padding-bottom: 60px;
    position: relative;
}
.accorDion-img{
    position: absolute;
    top: -150px;
    left: 0;
    height: 820px;
    width: 40%;
}
.accorDion-text .title p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #1E252B;
}
#box-box{
    position: relative;
    border: 1px solid #E7E7E7;
    background: #ffffff;
}
#box-box .box-textT{
    background-color: #FFFFFF;
    color: #563e6e;
    padding: 30px 40px 20px;
    cursor: pointer;
    transition: 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#box-box .box-textT h4{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #037B35;
    padding-right: 150px;
}
#box-box .box-textT .c-h4{
    color: #FCBD17;
}
#box-box .box-textT .c1-h4{
    padding-right: 200px;
}
#box-box .box-textT p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #1E252B;
}
#box-box .accorDion-btn{
    position: relative;
}
#box-box .accorDion-btn .accorDion-btn-before{
    width: 15px;
    height: 1px;
    background: #000;
    position: absolute;
}
#box-box .accorDion-btn .accorDion-btn-after{
    width: 15px;
    height: 1px;
    background: #000;
    position: absolute;
    transform: rotate(90deg);
}
#box-box .accorDion-btn .arrow-animate{
    opacity: 0;
}
#box-box .box-textT:hover .accorDion-btn{
    opacity: 1;
}
#box-box .box-textT
{
    border: 1px solid transparent;
}
#box-box .box-textT:hover,
#box-box .active{
    border: 1px solid #037B35;
    box-shadow: 0 1px 5px #000;
}
#box-box .arrow-animate{
    transform: rotate(0deg);
    opacity: 1;
}
.box-textB{
    background-color: #FFFFFF;
    display: none;
    padding: 20px 30px;
    color: #333333;
}

.frame-img .title h2{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 30px;
    color: #444444;
    padding-right: 40%;
    padding-bottom: 19px;
}
.frame-img{
    position: relative;
    width: 460px;
    filter: drop-shadow(21px 21px 70px rgba(0, 0, 0, 0.2));
}
.frame-img .hover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.frame-img .hover .beginner{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-60px);
}
.frame-img .hover .frame-btn1{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(10px, -30px);
}
.frame-img .hover .beginner{
    padding: 30px 70px 30px 30px;
    background: #FFFFFF;
    box-shadow: 14px 14px 40px rgba(0, 0, 0, 0.1);
    width: 276px;
}
.frame-img .hover .beginner h4{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #037B35;
}
.frame-img .hover .beginner p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #050505;
}
.frame-img .hover .beginner a{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 23px;
    color: #037B35;
    text-decoration: none;
}
.frame-img .hover .frame-btn1{
    background: #037B35;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.3);
    border-radius: 49px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 11px 30px;
    text-decoration: none;
    display: inline-block;
}
.frame-text .title h2{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 42.5382px;
    line-height: 40px;
    color: #444444;
    padding-right: 20%;
    padding-bottom: 18px;
}
.qator h4{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #037B35;
}
.qator p{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #363636;
    padding-right: 50%;
}
.qator a{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #037B35;
    text-decoration: none;
}

.form-box{
    position: relative;
    width: 540px;
    margin: 100px auto;
    background: #FFFFFF;
    box-shadow: 0px 8px 28px rgba(83, 83, 83, 0.15);
    border-radius: 15px;
    padding-bottom: 50px;
}
.form-box::before{
    position: absolute;
    content: '';
    width: 150px;
    height: 150px;
    background: #60B45A;
    top: 25%;
    left: -25%;
    transform: rotate(45deg);
    animation: animat 30s linear infinite;
}
@keyframes animat {
    0%{
        transform: rotate(0deg);
    }
    50%{

    }
    100%{
        transform: rotate(90deg);
    }
}
.form-box::after{
    position: absolute;
    content: '';
    width: 206px;
    height: 206px;
    bottom: 0;
    right: 0;
    background: #FED372;
    border-radius: 50%;
    transform: translate(75%, -30%);
}
.form-box .form-title{
    padding: 40px 40px 22px;
}
.form-box .form-title h2{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 29px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding: 0 20% 20px;
}
.form-box .form-title p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    margin: 0;
}
.form{
    padding: 0 40px;
}
.form .input-box{
    display: flex;
    justify-content: space-between;
}
.form input{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 60px;
    padding: 0 0 0 20px;
    color: #000000;
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 6px;
} 
.form textarea{
    background: #F8F8F8;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    margin: 40px 0;
    padding: 0 20px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 60px;
    color: #000000;
    height: 140px;
}
.form .form-button{
    background: #037B35;
    border-radius: 30px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}

.footer{
    background: #037B35;
    padding-top: 90px;
}
.footer .container-1{
    width: 878px;
    margin: 0 auto;
}
.footer-top .lenkLar .img-box{
    width: 87px;
    height: 78px;
    margin-bottom: 20px;
}
ul{
    list-style: none;
    padding: 0;
}
.footer-top .lenkLar .a1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.footer-top .lenkLar h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.footer-top .lenkLar .a4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #60B45A;
    text-decoration: none;
    padding-bottom: 7px;
}
.footer-top .lenkLar a:hover{
    opacity: .5;
}
.footer-top hr{
    background: rgba(255, 255, 255, 0.1);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 27px 0 30px;
    align-items: center;
}
.footer-bottom p{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 13.5px;
    line-height: 17px;
    color: #FFFFFF;
    margin: 0;
}
.footer-bottom .fb-r{
    display: flex;
    align-items: center;
}
.footer-bottom .img{
    display: flex;
}
.footer-bottom .img1{
    margin: 0 15px 0 20px;
}
.footer-bottom .img-box{
    width: 60px;
    height: 24px;
}
.footer .bg2{
    background-image: url(./img/Group\ 35575.jpg);
    height: 80px;
}



@media(max-width: 1200px){
    .container {
        padding: 0 0;
    }
    .home-img {
        width: 530px;
        height: 400px;
    }
    .imgBOX {
        width: 250px;
        height: 250px;
    }
    .imgBOX1 {
        width: 180px;
        height: 180px;
    }
    .home-h2 {
        font-size: 60px;
    }
    .home-p {
        line-height: 26px;
    }
    .home-btn {
        padding: 10px 30px;
    }

    .products .title h2 {
        font-size: 50px;
    }
    .company .container1 {
        width: 950px;
    }
    .company-text h2 {
        font-size: 50px;
    }

    .accorDion-text .title {
        padding-bottom: 15px;
    }

    .frame-img {
        margin: 0 auto 20px;
    }
    .frame-img .title h2 {
        font-size: 26px;
        line-height: 26px;
    }
    .frame-text .title h2 {
        font-size: 40px;
        line-height: 40px;
    }
    .qator h4 {
        line-height: 10px;
    }
    .qator p {
        padding-right: 30%;
        margin-bottom: 0.5rem;
    }
    .frame-img .hover .beginner {
        padding: 25px 45px 25px 25px;
        width: 240px;
    }
}

@media(max-width: 992px){
    .home-img {
        width: 400px;
        height: 350px;
        transform: translateY(50%);
    }
    .imgBOX {
        width: 220px;
        height: 220px;
    }
    .imgBOX1 {
        width: 150px;
        height: 150px;
    }
    .home-h2 {
        font-size: 50px;
    }
    .home-p {
        line-height: 24px;
        padding-right: 50%;
    }
    .home-btn {
        padding: 8px 30px;
    }
    .bg1 {
        height: 120px;
    }
    .products .title {
        padding: 0 0 30px;
        text-align: center;
    }
    .products .title h2 {
        font-size: 40px;
    }
    .products .title p {
        padding-right: 0;
        margin: 0;
    }
    .company-text {
        padding: 0 0 30px;
        text-align: center;
    }
    .company-text h2 {
        font-size: 40px;
    }
    .company-img .img-box1 {
        margin-left: 38%;
    }
    .company-img .img-box2 {
        left: 14%;
    }
    .company-img .img-box3 {
        left: 21%;
    }

    .accorDion-text .title {
        padding-bottom: 30px;
    }
    .accorDion-text .title h2 {
        font-size: 28px;
    }
    .accorDion-text .title p {
        line-height: 22px;
        margin: 0;
    }
    #box-box .box-textT {
        padding: 25px 35px 15px;
    }
    #box-box .box-textT h4 {
        padding-right: 10%;
    }
    #box-box .box-textT .c1-h4 {
        padding-right: 0;
    }

    .form-box {
        width: 490px;
        padding-bottom: 40px;
    }
    .form-box::before {
        width: 120px;
        height: 120px;
    }
    .form-box::after {
        width: 150px;
        height: 150px;
    }
    .form-box .form-title {
        padding: 30px 30px 30px;
    }
    .form {
        padding: 0 25px;
    }
    .form textarea {
        margin: 30px 0;
    }
}
@media(max-Width: 767px){
    .rov-v{
        justify-content: space-between;
    }
    .naw{
        position: fixed;
        width: 100%;
        background-color: #000;
    }
    .naw.activeN1{
        transform: translateX(0);   
    }
    .naw {
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 65%;
        background-color: #000;
        top: 0;
        right: 0;
        left: 0;
        justify-content: end;
        gap: 10px;
        padding: 0 0 15px;
        transform: translateX(-105%);
        transition: all .5s ease;
    }
    .nawbar {
        gap: 10px;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .nawbar .navv-a {
        border: 1px solid;
        padding: 10px;
        margin: 0 20px;
        background: #68ad68d1;
    }
    .iphon {
        margin-left: 0px;
    }
    .bars{
        display: block;
        z-index: 11;
    }
    .bars span{
        transition: all .5s ease;
    }
    .bars.activeN .bir1{
        transform: translateY(8px) rotate(-45deg);
    }
    .bars.activeN .bir2{
        opacity: 0;
    }
    .bars.activeN .bir3{
        transform: translateY(-8px) rotate(45deg);
    }
    .home-img{
        display: none;
    }
    .home-text {
        padding: 200px 0 0;
        text-align: center;
    }
    .home-h2 {
        font-size: 40px;
    }
    .home-p {
        line-height: 24px;
        padding-right: 0;
        margin: 0;
    }

    .products .title h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .products .title p {
        line-height: 24px;
    }

    .company .before {
        z-index: -1;
    }
    .company-text h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .company-text p {
        line-height: 24px;
    }
    .company-img .img-box1 {
        margin-left: auto;
    }
    .company-img .img-box2 {
        left: 0;
    }
    .company-img .img-box3 {
        left: 10%;
    }

    .accorDion-text .title{
        text-align: center;
    }
    .accorDion-img {
        display: none;
    }

    .frame-img .hover .beginner {
        transform: translateX(-10px);
    }
    .frame-img .hover .frame-btn1 {
        padding: 8px 30px;
    }
    .frame-text .title h2 {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        padding-right: 0;
    }

    .contact{
        overflow: hidden;
    }
    .form-box .form-title h2 {
        font-size: 25px;
    }
    .form-box .form-title p {
        line-height: 22px;
    }
    .form-box .form-title {
        padding: 20px 20px 20px;
    }
    .form-box {
        width: 400px;
        padding-bottom: 30px;
    }
    .form .input-box {
        flex-wrap: wrap;
    }
    .form input {
        line-height: 45px;
        padding: 0 0 0 20px;
        margin-bottom: 20px;
        width: 100%;
    }
    .form textarea {
        margin: 0 0 20px;
        height: 20px;
    }
    .form .form-button {
        line-height: 45px;
    }

    .owl-item{
        width: 200px;
    }
}

@media(max-width: 576px){
    .owl-item{
        width: 200px;
    }
    .container {
        padding: 0 30px;
    }
    .home-h2 {
        font-size: 30px;
    }
    .home-p {
        line-height: 20px;
    }
    .home-btn {
        padding: 5px 20px;
    }

    .products .title h2 {
        font-size: 25px;
        line-height: 25px;
    }
    .products .title p {
        line-height: 18px;
    }
    .products-card {
        padding: 10px 15px 10px 10px;
    }
    .products-img {
        width: 170px;
        height: auto;
        padding: 0;
        margin-right: 15px;
    }
    .products-text h4 {
        font-size: 18px;
        line-height: 20px;
    }
    .products-text p {
        line-height: 18px;
    }

    .company-text h2 {
        font-size: 25px;
        line-height: 25px;
    }
    .company-text p {
        line-height: 20px;
    }
    .company-text .company-btn {
        font-size: 16px;
        padding: 5px 25px;
    }
    .company-btns {
        font-size: 16px;
        margin-left: 10px;
    }

    .accorDion-text .title h2 {
        font-size: 22px;
        line-height: 26px;
    }
    .accorDion-text .title p {
        line-height: 20px;
    }
    #box-box .box-textT {
        padding: 20px 30px 20px;
    }
    #box-box .box-textT h4 {
        font-size: 15px;
        margin: 0;
    }

    .frame-img .title h2 {
        font-size: 20px;
        line-height: 22px;
    }
    .frame-img {
        width: 400px;
    }
    .frame-img .hover .beginner {
        padding: 15px 20px 15px 15px;
    }
    .frame-img .hover .beginner h4 {
        font-size: 16px;
        line-height: 20px;
    }
    .frame-img .hover .beginner p {
        font-size: 13px;
        line-height: 18px;
    }
    .frame-img .hover .frame-btn1 {
        padding: 7px 25px;
    }

    .frame-text .title h2 {
        font-size: 25px;
        line-height: 25px;
    }
    .qator h4 {
        font-size: 18px;
    }
    .qator p {
        padding-right: 20%;
        font-size: 15px;
        line-height: 20px;
    }
    .qator a {
        font-size: 13px;
        line-height: 13px;
    }

    .form-box{
        margin-bottom: 25px;
    }
    .form-box .form-title h2 {
        font-size: 20px;
        line-height: 20px;
        padding: 0;
    }
    .form-box .form-title p{
        line-height: 19px;
        font-size: 15px;
    }
    .form input {
        line-height: 40px;
        padding: 0 0 0 20px;
        margin-bottom: 15px;
        font-size: 14px;
    }
    .form textarea {
        margin: 0 0 15px;
    }
    .form .form-button {
        line-height: 40px;
    }
    .form-box::before {
        width: 110px;
        height: 110px;
    }
    .form-box::after {
        width: 130px;
        height: 130px;
    }
}

@media(max-width: 420px){
    .home-h2 {
        font-size: 25px;
        line-height: 25px;
    }
    .home-p {
        line-height: 19px;
        font-size: 15px;
    }
    .home-btn {
        font-size: 16px;
        padding: 2px 20px;
    }

    .products .title {
        padding: 0 0 20px;
    }
    .products .title h2 {
        font-size: 20px;
        line-height: 20px;
    }
    .products .title p {
        line-height: 18px;
        font-size: 14px;
    }
    .products-card {
        padding: 5px;
    }
    .products-img {
        margin-right: 5px;
    }
    .products-text h4 {
        font-size: 15px;
        line-height: 19px;
    }
    .products-text p {
        line-height: 16px;
        margin: 0;
    }

    .company-text h2 {
        font-size: 20px;
        line-height: 20px;
    }
    .company-text p {
        line-height: 18px;
        font-size: 14px;
    }
    .company-text .company-btn {
        font-size: 14px;
        padding: 4px 20px;
    }
    .company-btns {
        font-size: 14px;
        margin-left: 10px;
    }

    .company-img .img-box1 {
        width: 250px;
        height: 250px;
    }
    .company-img .img-box2 {
        width: 240px;
        height: 240px;
    }
    .company-img .img-box3 {
        width: 220px;
        height: 220px;
        top: 90px;
    }

    #box-box .box-textT h4 {
        font-size: 14px;
        line-height: 18px;
    }

    .accorDion-text .title {
        padding-bottom: 18px;
    }
    .accorDion-text .title h2 {
        font-size: 18px;
        line-height: 22px;
    }
    .accorDion-text .title p {
        line-height: 18px;
        font-size: 14px;
    }

    

    .frame-text .title h2 {
        font-size: 22px;
        line-height: 22px;
    }
    .frame-img {
        width: 330px;
    }
    .frame-img .hover .beginner {
        padding: 15px 10px 15px 15px;
        width: 185px;
    }
    .frame-img .hover .beginner h4 {
        font-size: 14px;
        line-height: 18px;
    }
    .frame-img .hover .frame-btn1 {
        padding: 5px 20px;
    }

    .footer-bottom{
        justify-content: center;
    }
    .footer-bottom p {
        padding-bottom: 10px;
    }

    .form-box {
        width: 300px;
        padding-bottom: 20px;
    }
    .form-box .form-title {
        padding: 15px 20px 15px;
    }
    .form-box .form-title h2 {
        font-size: 16px;
        line-height: 16px;
    }
    .form-box::before {
        width: 90px;
        height: 90px;
    }
    .form-box::after {
        width: 110px;
        height: 110px;
    }
    .form-box .form-title p {
        line-height: 18px;
        font-size: 14px;
    }
    .form textarea {
        line-height: 16px;
        font-size: 14px;
    }
    .form textarea {
        height: 70px;
    }
}
@media(max-width: 380px){
    #box-box .box-textT {
        padding: 10px 20px 10px;
    }
    #box-box .box-textT h4 {
        font-size: 12px;
        line-height: 18px;
    }
    #box-box .accorDion-btn .accorDion-btn-before {
        width: 10px;
        height: 1px;
    }
    #box-box .accorDion-btn .accorDion-btn-after {
        width: 10px;
        height: 1px;
    }

    .frame-img {
        width: 250px;
    }
    .frame-img .hover .beginner {
        padding: 5px 5px 5px 5px;
        width: 150px;
    }
    .frame-img .hover .beginner h4 {
        font-size: 12px;
        line-height: 16px;
    }
    .frame-img .hover .beginner p {
        font-size: 11px;
        line-height: 13px;
        margin: 0;
    }
    .frame-img .hover .beginner a {
        font-size: 11px;
        line-height: 11px;
    }
    .frame-img .hover .frame-btn1 {
        padding: 2px 12px;
        font-size: 12px;
    }
    .qator p {
        padding-right: 0%;
        font-size: 14px;
        line-height: 18px;
    }
    .frame-img .title h2 {
        font-size: 18px;
     }

    .form-box {
        width: 250px;
        padding-bottom: 15px;
    }
    .form-box .form-title {
        padding: 15px 15px 10px;
    }
    .form-box .form-title h2 {
        font-size: 14px;
        line-height: 14px;
    }
    .form-box .form-title p {
        line-height: 16px;
        font-size: 12px;
    }
    .form {
        padding: 0 15px;
    }
    .form input {
        line-height: 35px;
        padding: 0 15px;
        margin-bottom: 10px;
        font-size: 12px;
    }
    .form textarea {
        line-height: 14px;
        font-size: 12px;
        padding: 15px 15px 0;
        margin-bottom: 0 0 10px;
    }
    .form .form-button {
        line-height: 35px;
        font-size: 12px;
    }
    .form-box::before {
        width: 70px;
        height: 70px;
    }
    .form-box::after {
        width: 90px;
        height: 90px;
    }
}